/* Стили для Login.css */

.login-container {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-heading {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .input-error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
  }
  
  .login-button {
    background: #5151E5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #3333CC;
  }

  .ALLBLOCK{
    background: linear-gradient(120deg, #ff6e7f, #bfe9ff); /* Градиентный фон */
    height: 100vh; /* Сделаем фон на весь экран */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }